<h1>Angular 1</h1>

<div ng-app="" ng-init="firstName = 'Dyo'">
  <h2>AngularJS Directives</h2>
  <p>
    Input something
  </p>
  <p>
    Name : <input type="text" ng-model="name" placehoder="Text name here">
  </p>
  <h2>Hello {{ name }}</h2>

  <p>Input something in the input box:</p>
  <p>
    <input type="text" ng-model="box" value="">
  </p>
  <p ng-bind="box"></p>

  <h3>ng-init</h3>
  <p>My Name is: <span ng-bind="firstName"></span></p>

</div>

<a href="/coba-ng/expression">Angular Expression</a>
