
<h1>Example 3</h1>

<div ng-app="mainApp" ng-controller="mainCtrl">
  <table class="table">
    <tr>
      <td>Enter First Name: </td>
      <td><input type="text" ng-model="student.firstName"></td>
    </tr>
    <tr>
      <td>Enter Last Name: </td>
      <td><input type="text" ng-model="student.lastName"></td>
    </tr>
    <tr>
      <td>Enter Fees: </td>
      <td><input type="text" ng-model="student.fees"></td>
    </tr>
    <tr>
      <td>Enter Subject: </td>
      <td><input type="text" ng-model="student.subjectName"></td>
    </tr>
  </table>
</div>

continue : https://www.tutorialspoint.com/angularjs/angularjs_filters.htm
