<h1>Coba React</h1>

<h3>A Simple Component</h3>

<div id="name"></div>
<br>

<h3>A Stateful Component</h3>

<div id="time"></div>

<h3 id="todo">Todo List App</h3>

<script type='text/babel'>

var HelloMessage = React.createClass({
  render: function() {
    return <div>Hello {this.props.name}</div>
  }
})
  ReactDOM.render(
    <HelloMessage name='dyo'/>,
    document.getElementById('name')
  );

//timer
var Timer = React.createClass({
  getInitialState: function() {
    return {secondsElapsed: 0};
  },
  tick: function() {
    this.setState({secondsElapsed: this.state.secondsElapsed +1 });
  },
  // set interval
  componentDidMount: function() {
    this.interval = setInterval(this.tick, 500);
  },
  componentWillUnmount: function() {
    clearInterval(this.interval);
  },
  render: function() {
    return (
        <div>secondElapsed: {this.state.secondsElapsed }</div>
    );
  }
});
ReactDOM.render(
  <Timer/>, document.getElementById('time')
);

// todo list app

var TodoList = React.createClass({
  render: function() {
    var createItem = function(item) {
      return <li key={item.id}>{item.text}</li>;
    };
    return <ul>{this.props.items.map(createItem)}</ul>;
  }
});
var TodoApp = React.createClass({
  getInitialState: function() {
    return {items: [], text: ''};
  },
  onChange: function(e) {
    this.setState({text: e.target.value});
  },
  handleSubmit: function(e) {
    e.preventDefault();
    var nextItems = this.state.items.concat([{text: this.state.text, id: Date.now()}]);
    var nextText = '';
    this.setState({items: nextItems, text: nextText});
  },
  render: function() {
    return (
      <div>
        <h3>TODO</h3>
        <TodoList items={this.state.items} />
        <form onSubmit={this.handleSubmit}>
          <input onChange={this.onChange} value={this.state.text} />
          <button>{'Add #' + (this.state.items.length + 1)}</button>
        </form>
      </div>
    );
  }
});s

ReactDOM.render(<TodoApp />, document.getElementById('todo'));



</script>
