<h1>Filter an Array Based on User Input</h1>

By setting the ng-model directive on an input field, we can use the value of the input field as an expression in a filter.
Type a letter in the input field, and the list will shrink/grow depending on the match:

<!-- <div ng-app="akuApp" ng-controller="daftarCtrl">
  <input type="text" ng-model="cari" >
  <ul>
    <li ng-repeat="x in daftar | filter: cari ">
      {{ x }}
    </li>
  </ul>
</div>

  <script>
    var app = angular.module("akuApp", []);
    app.controller("daftarCtrl", function($scope) {
      $scope.daftar = [
        'Jani',
        'Carl',
        'Margareth',
        'Hege',
        'Joe',
        'Gustav',
        'Birgit',
        'Mary',
        'Kai'
      ];
    });
  </script> -->

<strong>Latihan</strong>

<pre>
  &lt;div ng-app="cariApp" ng-controller="barangCtrl"&gt;
    &lt;input type="text" ng-model="search"&gt;
    &lt;ul>
      &lt;li ng-repeat="x in barang | filter: search "&gt;{{ x }}&lt;/li&gt;
    &lt;/ul>
  &lt;/div&gt;

  var app = angular.module("cariApp", []);
  app.controller("barangCtrl",function($scope) {
    $scope.barang = [
      'Mobil',
      'Motor',
      'Sepeda',
      'TV',
      'Lemari',
      'Kulkas',
      'Sofa',
      'Tempat Tidur',
      'Kipas',
      'AC'
    ];
  });
</pre>

<div ng-app="cariApp" ng-controller="barangCtrl">
  <input type="text" ng-model="search">
  <ul>
    <li ng-repeat="x in barang | filter: search ">{{ x.Name }}</li>
  </ul>
</div>

<script>
  // var app = angular.module("cariApp", []);
  // app.controller("barangCtrl",function($scope) {
  //   $scope.barang = [
  //     'Mobil',
  //     'Motor',
  //     'Sepeda',
  //     'TV',
  //     'Lemari',
  //     'Kulkas',
  //     'Sofa',
  //     'Tempat Tidur',
  //     'Kipas',
  //     'AC'
  //   ];
  // });

  var app = angular.module("cariApp", []);
  app.controller("barangCtrl", function($scope, $http) {
    $http.get("/customers.json").then(function(response) {
      $scope.barang = response.data.records;
    });
  })
</script>

<p>
  Next <a href="/coba-ng/filter3">Sort an Array Based on User Input</a>
</p>
