<h2>Other Exercise</h2>

<div ng-app="userApp">
  <div ng-controller="userCtrl">
    <table class="table table-hover table-striped table-bordered">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Company</th>
      </tr>
      <tr ng-repeat="u in users | orderBy: ''">
        <td>{{ u.id }}</td>
        <td>{{ u.name }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.address.street }}, {{ u.address.city}}</td>
        <td>{{ u.phone }}</td>
        <td>{{ u.website }}</td>
        <td>{{ u.company.name }}</td>
      </tr>
    </table>
  </div>
</div>

<script>
  var app = angular.module("userApp", []);
  app.controller("userCtrl", function($scope, $http){
    $http({
      method: 'GET',
      url: 'https://jsonplaceholder.typicode.com/users'
    }).then(function success(response){
      $scope.users = response.data;
    }, function error(response){
      $scope.users = response.statusText;
    });
  });
</script>

<h3>This is the code:</h3>

<pre>
  &lt;div ng-app="userApp"&gt;
    &lt;div ng-controller="userCtrl"&gt;
      &lt;table class="table"&gt;
        &lt;&lt;tr&gt;
          &lt;th>Id&lt;/th&gt;
          &lt;th>Name&lt;/th&gt;
          &lt;th>Email&lt;/th&gt;
          &lt;th>Username&lt;/th&gt;
          &lt;th>Address&lt;/th&gt;
          &lt;th>Phone&lt;/th&gt;
          &lt;th>Website&lt;/th&gt;
          &lt;th>Company&lt;/th&gt;
        &lt;/tr&gt;
        &lt;tr ng-repeat="u in users"&gt;
          &lt;td>{{ u.id }}&lt;/td&gt;
          &lt;td>{{ u.name }}&lt;/td&gt;
          &lt;td>{{ u.email }}&lt;/td&gt;
          &lt;td>{{ u.username }}&lt;/td&gt;
          &lt;td>{{ u.address.street }}, {{ u.address.city}}&lt;/td&gt;
          &lt;td>{{ u.phone }}&lt;/td&gt;
          &lt;td>{{ u.website }}&lt;/td&gt;
          &lt;td>{{ u.company.name }}&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/table&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;script&gt;
    var app = angular.module("userApp", []);
    app.controller("userCtrl", function($scope, $http){
      $http({
        method: 'GET',
        url: 'https://jsonplaceholder.typicode.com/users'
      }).then(function success(response){
        $scope.users = response.data;
      }, function error(response){
        $scope.users = response.statusText;
      });
    });
  &lt;/script&gt;
</pre>

<p>
  <a href="/coba-ng/select">Next</a>
</p>
