<h1>Validate User Input</h1>

<form ng-app="" name="myForm">
    Email: <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">Your Email is NOT VALID!</span>
</form>

<h1>Application Status</h1>

<a href="/coba-ng/status">Try Application Status</a>